---
import EditionEditor from "./EditionEditor.astro";

const { textcolor, baseurl, backgroundcolor, width, issue, corpus, date, name } = Astro.props;

function verifyArche() {
	const format = "?format=raw";
	if (corpus === "1") {
		const url = "https://id.acdh.oeaw.ac.at/digitarium/";
		const doc = "edoc_" + name.replace(".html", ".xml");
		return url + doc + format;
	} else {
		const url = "https://id.acdh.oeaw.ac.at/digitarium2/";
		const doc = name.replace(".html", ".xml");
		return url + doc + format;
	}
}
---

<aside class=`${width} ${backgroundcolor} ${textcolor}`>
	<div class="sticky top-1 flex justify-end p-1 text-right">
		<ul>
			<li>
				<a
					class="open text-white"
					id="aside-button"
					aria-label="Schließen"
					role="button"
					aria-controls="edition-aside"
					aria-label="Öffnen/Schließen"
					title="Öffnen/Schließen"
					><svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
						<path
							fill-rule="evenodd"
							d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
						></path>
					</svg></a
				>
			</li>
			<li>
				<a
					id="show-on-scroll"
					href="#top_page"
					aria-label="Zurück zur ersten Seite"
					class="fade pt-2 text-white"
				>
					<svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
						<path
							fill-rule="evenodd"
							d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
						></path>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<div class="active sticky top-16" id="edition-aside">
		<div class="my-6 flex shrink-0 text-center text-white">
			<a href=`${baseurl}digitarium` aria-label="Zurück zur Hauptseite">
				<img
					class="w-auto p-6"
					src={`${baseurl}Digitarium-Logo-Vector-final.png`}
					alt="Wiener Diarium Logo"
				/>
				Zurück zur Hauptseite
			</a>
		</div>

		<div class="flex items-center justify-center text-center text-white">
			<div class="p-6">
				<p>
					{
						(() => {
							if (corpus === "1") {
								return "Ausgewählte Ausgaben 18. Jahrhundert";
							} else {
								return "Alle Ausgaben Siebenjähriger Krieg";
							}
						})()
					}
				</p>
				<h1 class="text-xl font-bold sm:text-lg md:text-lg">{issue}</h1>
				<p>Wienerisches Diarium</p>
				<p class="text-sm">
					{
						date.toLocaleDateString("de-De", {
							weekday: "long",
							year: "numeric",
							month: "long",
							day: "numeric",
						})
					}
				</p>
				<p class="mt-4 flex justify-center">
					<a href={verifyArche()} aria-label="Download" target="_blank">
						<svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
							<path
								d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
							></path>
							<path
								d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
							></path>
						</svg>
					</a>
				</p>
			</div>
		</div>
		<EditionEditor />
	</div>
</aside>
<script>
	(() => {
		const urlparam = new URLSearchParams(window.location.search);
		const aside = document.getElementById("edition-aside");
		const asideButton = document.getElementById("aside-button");
		asideButton!.addEventListener("click", () => {
			aside!.classList.toggle("active");
			aside!.classList.toggle("hidden");
			aside!.classList.toggle("translate-x-full");
			const asideW = document.getElementsByTagName("aside")[0];
			asideW.classList.toggle("basis-2/12");
			asideButton!.classList.contains("open")
				? (asideButton!.innerHTML =
						'<svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/></svg>')
				: (asideButton!.innerHTML =
						'<svg	width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/></svg>');
			asideButton;

			const editionContent = document.getElementById("edition-content");
			editionContent!.classList.toggle("basis-10/12");
			editionContent!.classList.toggle("basis-full");
			asideButton!.classList.toggle("open")
				? (urlparam.set("aside", "open"),
					window.history.pushState({}, "", "?" + urlparam.toString()))
				: (urlparam.set("aside", "closed"),
					window.history.pushState({}, "", "?" + urlparam.toString()));
		});
	})();
	(() => {
		const urlparam = new URLSearchParams(window.location.search);
		const asideParam = urlparam.get("aside");
		const aside = document.getElementById("edition-aside");
		const asideButton = document.getElementById("aside-button");
		if (asideParam == null) {
			urlparam.set("aside", "open");
			window.history.pushState({}, "", "?" + urlparam.toString());
		} else if (asideParam !== "open") {
			aside!.classList.toggle("active");
			aside!.classList.toggle("hidden");
			aside!.classList.toggle("translate-x-full");
			const asideW = document.getElementsByTagName("aside")[0];
			asideW.classList.toggle("basis-2/12");
			asideButton!.classList.toggle("open");
			const editionContent = document.getElementById("edition-content");
			editionContent!.classList.toggle("basis-10/12");
			editionContent!.classList.toggle("basis-full");
			asideButton!.innerHTML =
				'<svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/></svg>';
		}
	})();
</script>
