---
const { backgroundcolor, github_url, textcolor, baseurl } = Astro.props;
---

<footer class="mt-auto flex min-w-full flex-col">
	<div class={`${backgroundcolor} ${textcolor} flex flex-col`} tabindex="-1">
		<div class="mx-auto grid max-w-7xl grid-cols-3 border-t-2 border-gray-200 p-10 sm:grid-cols-1">
			<div class="flex flex-col text-left sm:text-center lg:py-0">
				<div class="mb-4">
					<h6 class="font-semibold">KONTAKT</h6>
				</div>
				<div class="py-6 sm:self-center">
					<a href="https://www.oeaw.ac.at/acdh"
						><img
							src={`${baseurl}acdh_logo.svg`}
							alt="ACDH Logo"
							style="max-width: 100%; height: auto;"
							title="ACDH Logo"
						/></a
					>
				</div>
				<div class="py-6">
					<div>
						<p>
							ACDH-CH OEAW
							<br />
							Austrian Centre for Digital Humanities and Cultural Heritage
							<br />
							Österreichische Akademie der Wissenschaften
						</p>
						<p class="py-2">
							Bäckerstraße 13
							<br />
							1010 Wien
						</p>
						<p class="py-2">
							T: +43 1 51581-2200
							<br />
							E: <a class="hover:text-blue-600" href="mailto:acdh-ch-helpdesk@oeaw.ac.at"
								>acdh-ch-helpdesk@oeaw.ac.at</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="flex flex-col text-left sm:text-center lg:pt-0">
				<div class="mb-4">
					<h6 class="font-semibold">PROJEKT PARTNER</h6>
				</div>
				<div class="my-6 self-center">
					<a href="https://oeaw.ac.at"
						><img
							class="w-52 flex-auto"
							src="https://www.oeaw.ac.at/typo3conf/ext/oeaw_website/Resources/Public/Images/oeaw_logo_446x192.png"
							alt="OEAW Österreichische Akademie der Wissenschaften Logo"
						/></a
					>
				</div>
				<div class="my-6 self-center">
					<a href="https://www.oeaw.ac.at/foerderungen/godigital"
						><img
							class="w-52 flex-auto"
							src={`${baseurl}csm_godigital_2.0_web_3edaecb331.png`}
							alt="OEAW Go Digital Logo"
						/></a
					>
				</div>
				<div class="my-6 self-center">
					<a href="https://www.oeaw.ac.at/ihb/"
						><img
							class="flex-auto"
							src="https://www.oeaw.ac.at/fileadmin/oeaw/institutstemplate/ihb/img/ihb_deutsch_web70.jpg"
							alt="OEAW IHB Logo"
						/></a
					>
				</div>
				<div class="my-6 self-center">
					<a href="https://www.uibk.ac.at/"
						><img
							class="w-52 flex-auto"
							src="https://www.oeaw.ac.at/fileadmin/_processed_/9/8/csm_uni_innsbruck_quer_web_54d2b1ec2e.png"
							alt="Universität Innsbruck Logo"
						/></a
					>
				</div>
				<div class="my-6 self-center">
					<a href="https://www.wienerzeitung.at/"
						><img
							class="w-52 flex-auto"
							src={`${baseurl}Wiener_Zeitung_Logo.jpg`}
							alt="Wiener Zeitung Logo"
						/></a
					>
				</div>
			</div>
			<!-- .footer-widget -->
			<div class="flex flex-col pt-0 text-left sm:pt-4 sm:text-center">
				<div>
					<h6 class="font-semibold">HELPDESK</h6>
					<p class="py-4">
						ACDH-CH runs a helpdesk offering advice for questions related to various digital
						humanities topics.
					</p>
					<p class="pb-4 hover:text-blue-600">
						<a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">ASK US!</a>
					</p>
				</div>
				<div>
					<div class="mb-4">
						<p style="margin-bottom:0 !important;">Medien:</p>
					</div>
					<div class="inline-flex py-2">
						<a class="w-16 px-4" title="Auden Musulin on GitHub" href={github_url} target="_blank">
							<img class="flex-auto" alt="Github White Blue" src={`${baseurl}github-mark.svg`} />
						</a>
					</div>
					<div class="inline-flex py-2">
						<a
							class="w-16 px-4"
							title="X.com Hashtag Digitarium am Dienstag"
							href="https://x.com/hashtag/DIGITARIUMamDienstag?src=hashtag_click"
							target="_blank"
						>
							<img class="flex-auto" alt="Github White Blue" src={`${baseurl}x-logo-black.png`} />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-blue-950 py-2 text-center text-white">
		<span>© Copyright OEAW</span> | <a href={`${baseurl}imprint`}>Impressum/Imprint</a> |
		<a href="https://curved-conjunction-linxods-projects.vercel.app/keystatic"> Login </a>
	</div>
	<!-- <div id="cookie-overlay">
		<div class="container hidden">
			<div class="cookie-message">
				This website uses cookies to ensure you get the best experience on our website. <a
					href="imprint.html">More info</a
				><br />
			</div>
			<div class="cookie-buttons">
				<div class="cookie-accept-btn">Accept All Cookies (functional and tracking)</div>
				<div class="cookie-accept-necessary-btn">Accept Necessary Cookies Only</div>
			</div>
		</div>
	</div> -->
</footer>
