---
import { Image } from "astro:assets";

interface Props {
	image: string;
	textContainer: string;
	image_alt: string;
}
const { image, textContainer, image_alt } = Astro.props;
---

<div class="flex flex-row">
	<section class="basis-2/12 rounded-lg border border-gray-200 p-4">
		{
			typeof image === "string" ? (
				<img src={image} alt={image_alt} />
			) : (
				<Image src={image} alt={image_alt} format="avif" quality="mid" />
			)
		}
	</section>
	<article class="basis-10/12 px-6 pt-2 text-lg">
		{textContainer}
	</article>
</div>
