---
import type { CollectionEntry } from "astro:content";

import { createBaseurl } from "../lib/baseurl.ts";

type Props = CollectionEntry<"media">["data"];

const { title, subTitle, url, image } = Astro.props;
---

<div>
	<a href={url} target="_blank">
		<div class="flex flex-row py-2">
			<div class="basis-1/3 p-4">
				<img
					src={createBaseurl(image?.slice(1))}
					alt={title}
					class="h-auto w-[400px] rounded-md border border-[#00000026]"
				/>
			</div>

			<div class="basis-2/3 p-4">
				<h2 class="text-lg">{subTitle}</h2>
				<h2 class="text-2xl">{title}</h2>
				<!-- <p>
				Autor:{" "}
				{authors.map((author: Author) => author.lastName + ", " + author.firstName + " ")}
			</p> -->
				<!-- <p>
				{
					date?.toLocaleString("de-DE", {
						year: "numeric",
						month: "long",
						day: "numeric",
					})
				}
			</p> -->
			</div>

			<svg
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-box-arrow-up-right"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
				></path>
				<path
					fill-rule="evenodd"
					d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
				></path>
			</svg>
		</div>
	</a>
</div>

<style is:global>
	p {
		margin: 0.5rem 0 !important;
	}

	p a {
		color: #3182ce !important;
	}
</style>
