---
import "@fontsource-variable/inter/standard.css";
import "tailwindcss/tailwind.css";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MatomoAnalytics from "../components/MatomoAnalytics.astro";

const backgroundcolor = "bg-cyan-800";
const githuburl = "https://github.com/wiener-diarium/";
const textcolor = "text-gray-900";
const { title, baseurl } = Astro.props;
const matomoUrl = "https://matomo.acdh.oeaw.ac.at/";
const siteId = 94;
---

<html lang="de">
	<head>
		<BaseHead title={title} />
	</head>
	<body class="flex min-h-screen flex-col justify-between">
		<header id="header">
			<Header backgroundcolor={backgroundcolor} baseurl={baseurl} />
		</header>
		<main class="mx-auto mb-auto" id="main">
			<slot />
		</main>
		<Footer
			backgroundcolor="bg-white"
			github_url={githuburl}
			textcolor={textcolor}
			baseurl={baseurl}
		/>
		<MatomoAnalytics matomoUrl={matomoUrl} siteId={siteId} />
	</body>
</html>
